{{ define "main" }}
  <h1>Projects</h1>
  <div class="posts">
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
        <div class="post on-list">
          <h2 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h2>

          <pre>
            {{ .Params }}
          </pre>

          {{ with .Params.links }}
            <span class="post-tags">
              {{ range $title, $url := . }}
                <a href="{{ $url }}">{{ $title }}</a>&nbsp;
              {{ end }}
            </span>
          {{ end }}

          <div class="post-content">
            {{ .Content }}
          </div>

          <div>
            <a class="read-more button"
              href="{{ .Permalink }}">updates ({{ $count }}) →</a>
          </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
